h5 {

    padding-left: 10px;
}

b {
    color: #34495E;
}

.row {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-extended {
    height: 400px;
}

.nav-content {
    padding-left: 20px;
}

.input {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fcollection {
    max-height: 170px;
    overflow-y: scroll;
    height: 500px;
    overflow-y: scroll;
    padding-top: -10px;
}

.fmedia {
    height: 250px;
}

.fvid {
    height: 100%;
    width: 100%;
}

.collection .collection-item {
    position: relative;
}

.collection .collection-item>div>a.btn {
    background-color: ;
    height: 20px;
    line-height: 20px;
    font-size: 0.7rem;
    position: absolute;
    top: 2px;
    right: 5px;
}

.filwrap {
    height: 72px;
}

.collection-item:hover {
    background-color: #ECF0B0;
}

.fwhit {
    background-color: #ECF0F1;
}

.fyell {
    background-color: #E67E22;
}

.fblu {
    background-color: #34495E;
}

.fgre {
    background-color: #27AE60;
}