{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" width="device-width initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/material-icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/djoutube.css' %}">
</head>

<body>
    {% block content %} {% endblock %} {% block script %}
     {% endblock %}
</body>

</html>